

#tituloPrincipal {
    color:red;
    
}

.parrafos{
    text-align: center;
    color: green;
    font-weight: bold;
}

.enfasis{
    background-color:buttonshadow;
    color: red;
} 

a{
    
   color: cyan;
}

a:hover{
    background-color: green;
    color:white;
}
a:active{
    background-color: red;
    color:black;
}

a:visited{
    font-size: 20px;
}